.codare-shelf-container{
    width: 100%;
    height: 500px;
    position: relative;
}

.codare-shelf{
    margin-top: 20px;
    height: 100px;
    max-width: 100%;
    overflow: hidden;
}

.codare-shelf .title{
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.codare-shelf .subtitle{
    font-weight: 200;
    font-size: 18px;  
    line-height: 22px; 
    height: 22px;
    margin-top: 5px;
}

.codare-shelf-items{
    width: 100%;
    height: 420px;
    padding-top: 5px;
    position: absolute;
}
