.codare-secondary-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    font-style: normal;
    position: relative;
    display: flex;
}

.codare-secondary-title:hover{
    cursor: pointer;
    color: var(--six-purple);
}

.codare-secondary-title .codare-arrow{
    background-image: url('../../../assets/icons/menu-arrow.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0;
    transition: 100ms;
}

.codare-secondary-title .codare-arrow.opened{
    transform: rotate(180deg);
    transition: 100ms;
}

.codare-items{
    background-color: rebeccapurple;
}

.codare-items-enter {
    opacity: 0;
}

.codare-items-enter-active {
    opacity: 1;
    transition: opacity 100ms;
}

.codare-items-exit {
    opacity: 1;
}
.codare-items-exit-active {
    opacity: 0;
    transition: opacity 100ms;
}